.register-form-container {
  display: flex;
  flex-direction: column;
  max-width: 442px;
  & &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  & &__title {
    margin: 0;
    text-align: center;
  }
}
