/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  /* Colors */
  --color-primary: #65d36e;
  --color-secondary: #445a90;
  --color-on-surface: #000;
  --color-black: #000000;
  --color-grey-800: #191919;
  --color-grey-700: #292929;

  --color-grey-500: #444444;
  --color-grey-300: #bbbbbb;
  --color-white: #ffffff;

  /* Button hover colors */

  --color-secondary-hover: #3c4f7d;
  --color-secondary-pressed: #9da6bd;
  --color-apple-active: #8b8b8b;
  --color-google-hover: #848484;
  /* Rounding */
  --input-rounding: 50px;
  --stroke-size: 1px;
}
