/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: "Lato", sans-serif;
  color: var(--color-black);
  margin: 0 auto;
  padding: 50px;
}

p {
  color: var(--color-on-surface);
}

@media screen and (max-width: 500px) {
  body {
    padding: 50px 16px;
  }
}
