.form-date-row-container {
  & &__row {
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(75px, 189px) auto auto;
    gap: 12px;
  }

  & &__row-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      width: 70%;
    }
  }

  & &__select select {
    background: transparent;
    max-width: 189px;
    width: 100%;
    padding: 20px 0 19px 24px;
    border-radius: 50px;
    -webkit-appearance: none;
  }

  & &__label {
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
  }

  & &__select {
    overflow: hidden;
    background: url("/public/icons/right-arrow-52.png") no-repeat #ffffff;
    background-position: 85% 50%;
  }

  & &__month {
    border-radius: 50px;
  }

  & &__day-year {
    padding: 20px 0 19px 32px;
    border-radius: 50px;
  }
}
