.separator-container {
  display: flex;
  height: 19px;
  gap: 24px;
  align-items: center;
  & &__line {
    display: block;
    background-color: var(--color-grey-300);
    width: 100%;
    height: 1px;
  }

  & &__text {
    color: var(--color-grey-400);
  }
}

.separator-longline {
  display: block;
  background-color: var(--color-grey-300);
  width: 100%;
  height: 1px;
}
