@import "/src/global-styles/mixins/checkbox.mixin.scss";

.login-form-container {
  max-width: 442px;
  @include custom-checkbox;
  & &__form {
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
  }

  & &__RememberAndSubmit {
    display: flex;
    justify-content: space-between;
  }

  & &__remember {
    display: flex;
    flex-flow: row;
    gap: 18px;
  }
}
